
html {
    background-color: #F2F2F2;

font-family: 'Montserrat', sans-serif;
}

/* navigation */


li {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    font-size: 24px;
}

.navText{
 padding-left: 600px; 

}

.logo {
    float: left;
    height: 24px;
}

/* above the fold */
 
.icons {
    display: inline;
}

/* .abovefold {
    width: 1920;
    height: 1080px;
    display: inline-block;
} */

.aboutMe {
 width: 300px;
 padding-left: 100px;
}

.summary {
    width: 230px;
    height: 280px;
    font-size: 20px ;
    padding: 6px;
}

button {
    width: 180px ;
    height:60px ;
    font-family:'Lato', sans-serif;
    font-size: 16px;
    background-color: #333133;
    color: #FCFCFC;
}

.aboveFold {
    display: grid;
    grid-template-columns: 400px 450px 400px;
    grid-template-rows: 330px 330px;
    grid-template-areas: 
    " aboutMe Thrive  uscis"
    " aboutMe TravelApp AJA";
}

.Thrive {
    grid-area: Thrive;
}
.uscis {
    grid-area: uscis;
    
}
.TravelApp {
    grid-area: TravelApp;
}
.AJA {
    grid-area: AJA;
}

/* More About Me Section */

.more {
    padding-top: 90px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-row: 1fr;
    padding-right: 200px;


}

.mamhead {
    grid-area: mamhead;
}

    
.coffee {
    grid-area: coffee;
    width: 300px;

}
.atlanta {
    grid-area: atlanta;
    width: 300px;
}
.Text {
    padding: 60px;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

/* Footer */

footer {
    background-color: #F2F2F2;
    text-align: center;
    font-size: 17px;
   

}
